.container_grid{
    
    display: grid;
    
    /* grid template rows define a altura de cada linha*/
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 130px 130px 130px ;
    gap: 4px;
    height: 398px;
 
}

.item:hover{
    transform: scale(1.2);
    transition: 0.5s;
    border: solid greenyellow 1px;
}

.item{
    text-align: center;
    font-size: 1.25em;
    font-weight: normal;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url('./imagensGrid/card-fokus.svg');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 4px;
}
.item:nth-child(2){
    background: url('./imagensGrid/card-robtron.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.item:nth-child(3){
    background: url('./imagensGrid/card-robtron.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.item:nth-child(4){
    background: url('./imagensGrid/card-mochila.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.item:nth-child(5){
    background: url('./imagensGrid/card-nutricao.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.item:nth-child(6){
    background: url('./imagensGrid/card-midi.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.item:nth-child(7){
    background: url('./imagensGrid/card-alurabooks.svg');
    background-repeat: no-repeat;
    background-size:cover;
}





